
@media(max-width : 944px){
    html{
        font-size: 50%;
    }
    .nav-container{
        width: 100%;
    }
    .section-hero{
        background-position: right;
        background-size: 400px;
    }
    .hero-left{
        width: 90%;
        overflow-y: hidden;
    }


    .btn-mobile-nav {
        display: block;
      }
    
    .main-nav {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-in;
      }
      .nav-item{
        display: flex;
        flex-direction: column;
      }
    
      .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }
  
      .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
      }
    
      .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
      }
      .feedback-heading{
        width: 100%;
      }
      .first-contact-heading-text {
        width: 100%;
      }
      .first-contact-btn{
        width: 30%;
      }
}

@media(max-width:700px){
    .section-hero{
        background-image: none;
    }
    .hero-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero-btn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .btn-primary-hero {
        width: 200px;
    }
    .hero-left{
        padding: 0 5rem;
    }
    
    .designing{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    .designing-heading{
        width: 65%;
    }
    .service-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        padding: 5rem 1rem 2rem 2rem;
    }
    .service-heading{
        width: 100%;
    }
    .card-text-muted{
        padding:0 2rem;
    }
    .portfolio-heading{
        width: 100%;
    }
    .portfolio-head{
        display: grid;
        grid-template-columns: 1fr;
    }
    .portfolio-item{
        margin-bottom: 4rem;
    }
    .first-contact-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .first-contact-btn{
        width: 25%;
        margin-top: 4rem;
    }
    .first-contact-text{
        width: 100%;
    }
    .feedback-heading{
        width: 100%;
    }
    .grid-3-column{
        grid-template-columns: repeat(2,1fr);
    }
    .company-logos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .company-logo-img{
        width: 80%;
    }
    .sign-up-content{
        grid-template-columns: 1fr;
        /* width: 70%; */
    }
    .btn-send-message:hover{
        box-shadow: inset 700px 0 0 0 #dc3545;
    }
    
    .heading-footer{
        font-size: 3rem;
    }
    
    .footer-left-text{
        font-size: 1.4rem;
    }
    .footer-right-text{
        font-size: 1.4rem;
    }
}

@media(max-width:570px){
    .section-hero{
        background-image: none;
    }
    .hero-left{
        width: 100%;
    }
    html{
        font-size: 37.5%;
    }
    .service-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    
    
    .portfolio-image{
        display: grid;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
    }
    .feedback-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feedback-card-text{
        margin-top: 2rem;
    }
       .footet-head{
       text-align: left;
       }
}

@media(max-width:450px){
    .section-hero{
        background-image: none;
    }
    .hero-left{
        width: 100%;
    }
    .first-contact-btn{
        width: 45%;
      }
   .footet-head{
   text-align: left;
   padding-left: 0;
   }
   .footer-end-left{
    padding-right: 6rem;
   }
   .footer-right-text{
    font-size: 1rem;
   }
   .footer-icon{
    font-size: 1.4rem;
   }
}

